#animator {
    padding: 1rem;
}

#animator p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-name: fadein;
    color: rgba(255, 255, 255, 1)
}

#animator p:not(small) {
    font-size: 3rem;
    text-transform: uppercase;
    --color0: rgba(0, 0, 0, 0);
    --color1: rgba(0,0,0,1)
}

#animator p.small {
    font-size: 2rem;
    --color0: rgba(200,200,200,0);
    --color1: rgba(200,200,200,1)
}

#animator p:nth-of-type(1) {
    animation-delay: 1s;
}

#animator p:nth-of-type(2) {
    animation-delay: 4.5s;
}

#animator p:nth-of-type(3) {
    animation-delay: 7.5s;
}

#animator p:nth-of-type(4) {
    animation-delay: 10.5s;
}

#animator p:nth-of-type(5) {
    animation-delay: 12.5s;
}

@keyframes fadein {
    from {
        color:var(--color0)
    }
    to {
        color:var(--color1)
    }
}