#animation {
    padding: 1rem;
}

#animation p {
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-name: fadein;
    color: rgba(255, 255, 255, 0)
}

#animation p:not(small) {
    font-size: 4 rem;
    text-transform: uppercase;
    --color0:rbga(255,255,255,0)
    --color0:rbga(255,255,255,1)
}

#animation p.small {
    --color0:rbga(200,200,200,0)
    --color0:rbga(200,200,200,1)
}

#animation p:nth-of-type(1) {
    animation-delay: 1s;
}

#animation p:nth-of-type(2) {
    animation-delay: 4.5s;
}

#animation p:nth-of-type(3) {
    animation-delay: 7.5s;
}

#animation p:nth-of-type(4) {
    animation-delay: 10.5s;
}

#animation p:nth-of-type(5) {
    animation-delay: 12.5s;
}

@keyframes fadein {
    from {
        color:var(--color0)
    }
    to {
        color:var(--color1)
    }
}